<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li class="mt">
                <a class="<%= name === 'dashboard' ? 'active' : '' %>" href="/admin">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="mt">
                <a class="<%= name === 'users' ? 'active' : '' %>" href="/admin/users">
                    <i class="fa fa-users"></i>
                    <span>Users</span>
                </a>
            </li>
            <li class="mt">
                <a class="<%= name === 'Add Driver' ? 'active' : '' %>" href="/admin/addDriver">
                    <i class="fa fa-user"></i>
                    <span>New Driver</span>
                </a>
            </li>
            <li class="mt">
                <a class="<%= name === 'drivers' ? 'active' : '' %>" href="/admin/drivers">
                    <i class="fa fa-users"></i>
                    <span>Drivers</span>
                </a>
            </li>
            <li class="mt">
                <a class="<%= name === 'addAmbulance' ? 'active' : '' %>" href="/admin/addAmbulance">
                    <i class="fa fa-ambulance"></i>
                    <span>New Ambulance</span>
                </a>
            </li>
            <li class="mt">
                <a class="<%= name === 'ambulances' ? 'active' : '' %>" href="/admin/ambulances">
                    <i class="fa fa-ambulance"></i>
                    <span>Ambulances</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->