<% extend ('../layout')%>
<div class="row" style="padding: 20px;">
    <div class="col-md-12">
        <table id="datatables-example" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>user ID</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                <tr>
                    <td>
                        <% if (user.val().image && user.val().image.length > 0) {%>
                        <img src="<%= user.val().image %>" class="img-circle avatar" alt="<%= user.val().firstName%>"
                            style="width: 80px; height: 80px;" />
                        <% } else {%>
                        <img src="/public/img/avatar.jpg" class="img-circle avatar" alt="<%= user.val().firstName%>"
                            style="width: 80px; height: 80px;" />
                        <%}%>
                </td>
                <td><%=user.val().firstName%> <%=user.val().lastName%></td>
                    <td><%=user.val().id %></td>
                    <td><%=user.val().email %></td>
                    <td><%=user.val().phoneNumber%></td>
                    <td><a href="/admin/userinfo?id=<%= user.val().id%>" class="btn btn-primary btn-block">Detail</a>
                    </td>

                </tr>
                <%});%>
            </tbody>
        </table>
    </div>
</div>