<% extend ('../../layout')%>


<div class="row" style="padding: 20px;">
    <div class="col-md-6">
        <div class="panel box-v1">
            <div class="panel-heading bg-white border-none">
                <h1 class="text-center" style="text-transform: uppercase;">Ambulance Details</h1>
            </div>
            <div class="panel-body text-left">
                <h3>Registration Number</h3>
                <h4> <%= ambulance.val().registrationNumber%></h4>
                <hr />
                <h3>Model</h3>
                <h4> <%= ambulance.val().ambulanceModel%></h4>
                <br />
                <a href="/admin/editAmbulance?id=<%= ambulance.val().id%>" class="btn btn-warning btn-block">Edit</a>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding-right: 10px;">
        <div class="panel box-v1">
            <div class="panel-heading bg-white border-none">
                <h1 class="text-center" style="text-transform: uppercase;">Driver Details</h1>
            </div>
            <div class="panel-body text-left" style="padding-top: 10px ;">
                <h3>Name</h3>
                <h4> <%= driver.val().firstName%> <%= driver.val().lastName%></h4>
                <hr />
                <h3>Email</h3>
                <h4> <%= driver.val().email%></h4>
                <hr />
                <h3>Lisence Number</h3>
                <h4> <%= driver.val().licenseNumber%></h4>
                <hr />
                <h3>Phone Number</h3>
                <h4> <%= driver.val().phone%></h4>
            </div>
        </div>
    </div>
</div>